#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background: var(--background-color);
}


.icon-container .icon-hovered {
  opacity: 0;
  animation: ease-in-out;
  transition: 200ms;
}

.icon-container:hover .icon-hovered {
  opacity: 0.7;
}

.icon-hovered:hover  {
  opacity: 1 !important;
  scale: 1.3;
}
