:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background-color);
}

#root {
   width: 100%;
   margin: 0 auto;
   padding: 2rem;
   height: 100vh;
 }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.dragon-container {
  width: 100%;
}

.icon-container {
  width: 100%;
}

.icon-container .icon-hovered {
  opacity: 1;
  animation: ease-in-out;
  transition: 200ms;
}

article {
  min-width: auto;
}

h2 {
  display: none;
}

.container {
  max-width: 1080px;
}

.Toastify__close-button {
  width: 50px;
}

@media (min-width: 1200px) {
  #root {
    width: 1280px;
  }

  .icon-container {
    width: 380px !important;
  }
}

@media (min-width: 768px) {
  article {
    min-width: 640px;
  }

  h2 {
     display: block;
  }
  .dragon-container {
     width: fit-content;
  }

  .icon-container {
    width: 320px;
  }

  .icon-container .icon-hovered {
    opacity: 0;
  }

  .icon-container:hover .icon-hovered {
    opacity: 0.7;
  }

  .icon-hovered:hover  {
    opacity: 1 !important;
    scale: 1.3;
  }
}
